
[submodule "gl3w"]
    path = lib/gl3w
    url = https://github.com/skaslev/gl3w
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/cimgui/cimgui
